<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kori.plugin.wildlife"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="野生动物保护管理插件">
        <meta-data
            android:name="plugin.description"
            android:value="野生动植物保护管理插件，实时监测数据浏览、名录查询管理、野生动植物分布数据浏览与查询、人工繁育情况" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.kori.plugin.wildlife.PluginEntryClass" />
    </application>

</manifest>