<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kori.plugin.wildlife"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="主地图插件">
        <meta-data
            android:name="plugin.description"
            android:value="地图插件" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.kori.plugin.wildlife.PluginEntryClass" />
    </application>

</manifest>