<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.combo.plugin.sample.common"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:label="公共模块"
        android:icon="@drawable/ic_icon">

        <meta-data
            android:name="plugin.entryClass"
            android:value="com.combo.plugin.sample.common.PluginEntryClass" />

        <meta-data
            android:name="plugin.description"
            android:value="公共模块插件，提供各个插件的公共功能、资源，如BaseViewModel、ComposeNavigator导航、各种utils工具类等等。注意：该版本插件不再兼容ComboLite插件框架核心库版本低于2.0.0的宿主应用" />

    </application>
</manifest>