<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kori.plugin.geo"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Android 10+ 需要显式声明，否则前台定位也不可用 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:label="主地图插件">
        <meta-data
            android:name="plugin.description"
            android:value="地图插件" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="org.kori.plugin.geo.PluginEntryClass" />
    </application>

</manifest>