<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.combo.plugin.sample.example"
    android:versionCode="4"
    android:versionName="1.0.3">

    <application
        android:label="功能示例"
        android:icon="@drawable/plugin_icon">

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.combo.plugin.sample.example.provider.books"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.StaticReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver,Instantiatable">
            <intent-filter>
                <action android:name="com.combo.plugin.example.action.STATIC_BROADCAST" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="plugin.description"
            android:value="示例模块插件，提供了ComboLite插件化框架的各种基础使用示例。注意：该版本插件不再兼容ComboLite插件框架核心库版本低于2.0.0的宿主应用" />
        <meta-data
            android:name="plugin.entryClass"
            android:value="com.combo.plugin.sample.example.PluginEntryClass" />
    </application>

</manifest>